<!DOCTYPE html>
<html lang="en" xmlns:th="https:\\www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Random Image</title>
</head>
<body>
    <h1>How many numbers do you wish to generate?</h1>
    <!-- the $ binds to the generate object in Generate.java 
         the @{/generate} links to the controller @PostMapping(/generate), will call the method when button is pressed
    -->
    <form action="#" 
    th:action="@{/generate}" 
    th:object="${generateObj}" 
    method="post">
        <p> 
            <!-- the * refereces to the object in this form, in this case is generate-->
            <input type="text" th:field="*{numberVal}"/>
            <input type="submit" value="Generate"/>
        </p>

</body>
</html>